@font-face {
    font-family: poppins;
    src: url(/public/fonts/Poppins-ExtraBold.ttf);
}

.home{
    color: white;
    height: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(/images/hero.jpg);
    background-size: cover;
}

.home div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;   
    animation-name: upward;
    animation-timing-function: linear;
    animation-duration: 1.5s;
}

@keyframes upward{
    from{
      opacity: 0;
      top: 100px;
      
    }
    to{
      opacity: 1;
      top: 0px;
    }
}

.hero{
    display: flex;
    align-items: center;
    font-size: 2em;
    text-align: center;
    text-shadow: 5px 5px black;
    font-family: poppins;
}

.hero p{
    color: var(--Bball);
}

.home a{
    width: fit-content;
    padding: 10px 25px;
    background-color: #bb3a07;
    border: 3px solid black;
    box-shadow: 5px 5px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.home a:hover{
    translate: 5px 5px;
    box-shadow: none;
}

.home a:focus{
      color: white;
}

@media screen and (max-width: 430px){
    .hero{
        font-size: 1em;
    }
    .home a{
        font-size: 0.7em;
    }
}
  