@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", Helvetica;
}

.Shadow{
    text-shadow: 7px 7px black;
}
.nav-item{
    padding: 5px 15px;
    border-radius: 30px;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-property: background-color;
}
.nav-item:hover{
    background-color: white;
    color: black;
}

.button{
    padding: 12px 17px;
    background-color: #ee6730;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    transition: 500ms;
}

.button:hover{
    background-color: white;
    color: black;
    scale: 1.2;
}





.home-hero{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.2)), url('./assets/images/hero.jpg');
}

.about-hero{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.2)), url('./assets/images/goa-abesan3.jpg');
}

.players-hero{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.2)), url('./assets/images/team.jpg');
}
.gallery-hero{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.2)), url('./assets/images/gallery-hero.jpg');
}

.cta{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./assets/images/goa-abesan.jpg);
    background-position: center;
    background-size: cover;
    
    

}

.contact-input{
    @apply w-full h-10 pl-3 hover:outline-none text-black
}

.values{
    @apply text-center w-[75%] flex flex-col items-center py-10
}

.values h1{
    @apply flex items-center font-bold text-3xl text-Basketball mb-3
}

.player-info{
    @apply flex flex-col items-center
}

.player-info h2{
    @apply font-semibold text-lg md:text-xs
}

.player-info h1{
    @apply font-bold text-xl md:text-sm
}


@media screen and (max-width: 768px) {
    .cta{
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./assets/images/cta_image.jpg);
        background-position: top;
    }
}